.git
.github
.env
vendor
node_modules
public/build
public/.build-releases
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
deploy/caddy/upstream.caddy
*.zip
